* {
  margin: 0%;
  box-sizing: border-box;
  padding: 0;
  font-family: "Raleway";
}
.random {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
button {
  border: none;
  background-color: rgba(240, 255, 255, 0);
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  font-size: 14px;
  color: #333333;
}
img {
  width: 14px;
  height: 14px;
}
.line {
  width: 12px;
  height: 150px;
  background: #f7df94;
}
#main {
  margin-top: 20px;
}
.main {
  margin-top: 40px;
  margin-bottom: 50px;
}
.container {
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.subDiv {
  margin: auto;
  display: flex;
  width: 300px;
  gap: 30px;
  font-size: 20px;
  padding: 20px;
  align-items: center;
}
.p {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 120%;
  padding: 0px 10px;
}
.author {
  margin: 50px 30px;
  padding: 20px;
  width: 255px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.author:hover {
  width: 250px;
  color: white;
  height: 95px;
  margin: auto;
  background: #333333;
}
a {
  color: #4f4f4f;
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 15px;
  line-height: 28px;
  color: #4f4f4f;
}
.content > p {
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  color: #828282;
}
.bill {
  text-align: center;
}
@media (min-width: 768px) {
  #main {
    margin-top: 20px;
  }
  .container {
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .line {
    width: 14px;
    height: 150px;
    background: #f7df94;
  }
  .subDiv {
    margin: auto;
    display: flex;
    width: 600px;
    gap: 40px;
    font-size: 25px;
    padding: 30px 20px;
    align-items: center;
  }
  .p {
    font-weight: 500;
    font-size: 25px;
    line-height: 120%;
    padding: 0px 10px;
  }
  .author {
    padding: 20px;
    width: 455px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }
  .author:hover {
    width: 450px;
    color: white;
    height: 120px;
    background: #333333;
    margin: auto;
  }
  .author:hover * {
    color: white;
  }
  a {
    color: #4f4f4f;
    text-decoration: none;
  }

  h1 {
    font-weight: 700;
    font-size: 25px;
    line-height: 28px;
    color: #4f4f4f;
  }
  .content > p {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #828282;
  }
  .bill {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
    color: #333333;
  }
  .random{
    padding: 20px 30px;
  }
}
